/*
    1 - Sprites
    2 - Mock
*/


/* ---------- Sprites ---------- */
.sprite{background: url('../img/tini_sprite.png') no-repeat top left; width: 512px; height: 512px;}
.sprite.botao-slider{background-position: 0 0; width: 212px; height: 212px;}
.sprite.botao-slider-branco{background-position: 0 -222px; width: 212px; height: 212px;}
.sprite.circle1{background-position: 0 -444px;}
.sprite.editing{background-position: 0px -66px;background-size: 35px;width: 35px;height: 32px;}
.sprite.flag{background-position: 0 -1698px;}
.sprite.facebook{background-position: 0 -232px; width: 33px; height: 30px; background-size: 80px}
.sprite.insta{background-position: 0 -380px; width: 33px; height: 30px; background-size: 80px}
.sprite.gmail{background-position: 0 -348px; width: 33px; height: 30px; background-size: 80px}
.sprite.interface1{    background-position: 0px -182px;background-size: 35px;width: 35px;height: 32px;}
.sprite.light{background-position: 0px -185px;background-size: 30px;width: 35px;height: 30px;}
.sprite.multimedia{background-position: 0 -355px;background-size: 50px;width: 50px;height: 55px}
.sprite.pen{background-position: 0 -410px;background-size: 50px;width: 47px;height: 55px;}
.sprite.people{background-position: 0 -464px;background-size: 50px;width: 47px;height: 55px;}
.sprite.technology{background-position: 0 -5250px;}
.sprite.logo-topo{background-position: 0 -5772px; width: 203px; height: 103px;}
.sprite.logo-rodape{background-position: 0 -5885px; width: 305px; height: 184px;}
.sprite.cliente-01{background-position: 0 -6079px; width: 400px; height: 400px;}
.sprite.cliente-02{background-position: 0 -6489px; width: 400px; height: 400px;}
.sprite.cliente-03{background-position: 0 -6899px; width: 400px; height: 400px;}
.sprite.cliente-04{background-position: 0 -7309px; width: 400px; height: 400px;}
.sprite.cliente-05{background-position: 0 -7719px; width: 400px; height: 400px;}
.sprite.cliente-06{background-position: 0 -8129px; width: 400px; height: 400px;}
.sprite.cliente-07{background-position: 0 -8539px; width: 400px; height: 400px;}
.sprite.cliente-08{background-position: 0 -8949px; width: 400px; height: 400px;}

/*Helpers*/
.semantic {
    position: absolute;
    top: -2000px;
}

/*Font*/
@font-face {
    font-family: gotham;
    src: url('../font/gotham-book.ttf');
}

body {
    font-family: gotham;
}

/*Mock*/
.galery {
    width: 100%;
    /*height: 418px;*/
    background-color: red;
}

.content-item {
    width: 100%;
}

/*Header*/
header {
    background-color: #FFF;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    width: 100%;
    max-height: 223px;
    z-index: 999;
}

.social-medias {
    text-align: right;
}

.social-medias ul li {
    display: inline-block;
}

.main-menu {
    margin-top: 45px;
}

.main-menu ul {
    padding: 0;
    display: inline;
    position: relative;
    list-style: none;
}

.main-menu ul::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 2.5%;
    height: 10px;
    width: 95%;
    border: 2px solid #000;
    border-top: 0;
}

.menu-item {
    display: inline-block;
    padding: 0 10px;
    border-right: 2px solid #000;
    vertical-align: middle;
}

.menu-item:last-child {
    border: 0;
}

.menu-item a {
    color: #000;
    font-size: 1.3em;
    text-decoration: none;
}

/*Galery*/
.galery {
    overflow: hidden;
    position: relative;
    height: 700px;
}

.galery img {
    position: absolute;
    top: -50%;
    left: 0; right: 0;
    width: 100%;
    height: auto;
}

.cycle-slideshow { width: 100%; height: 400px; margin: auto; border: 1px solid #bbb; background: #ffc }
.cycle-slideshow img { opacity: 0; filter:alpha(opacity=0); }

/*Content*/
.content {
    padding-top: 223px;
}

.content p {
    font-size: 1.3em;
    text-align: justify;
}

.content-item {
    position: relative;
    padding: 40px 0 45px 0;
}

.content-item:nth-child(even) {
    background-color: #000;
    color: #FFF;
}

.content-item h1 {
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 1.9em;
}

.linked {
    z-index: -1;
    position: absolute;
    top: -223px;
}

.title-icon {
    float: left;
}

.title-icon.position1 {
    margin-top: -20px;
    margin-right: -10px;
}

.title-icon.position2, .title-icon.position3 {
    margin-top: -5px;
}

.title-icon.position3 {
    margin-right: 10px;
}

/*Card Show*/
.card-show {
    text-align: center;
}

.card-show .sprite{
    margin: 35px auto 10px;
}

.card-show h1 {
    font-size: 1.1em;
    margin: 0;
}

.card-show h2 {
    margin: 0;
    text-align: center;
    font-size: .9em;
}

/*Footer*/

footer {
    border-top: 7px solid #000;
    height: 160px;
}