/*
    1 - Sprites
    2 - Mock
*/


/* ---------- Sprites ---------- */
.sprite{background: url('../img/tini_sprite.png') no-repeat top left; width: 512px; height: 512px;}
.sprite.botao-slider{background-position: 0 0; width: 212px; height: 212px;}
.sprite.botao-slider-branco{background-position: 0 -222px; width: 212px; height: 212px;}
.sprite.circle1{background-position: 0 -444px;}
.sprite.editing{background-position: 0px -67px;background-size: 35px;width: 35px;height: 35px;}
.sprite.flag{background-position: 0 -1698px;}
.sprite.facebook{background-position: 0 -237px; width: 33px; height: 30px; background-size: 80px}
.sprite.insta{background-position: 0 -386px; width: 33px; height: 30px; background-size: 80px}
.sprite.gmail{background-position: 0 -353px; width: 33px; height: 30px; background-size: 80px}
.sprite.interface1{    background-position: 0px -182px;background-size: 35px;width: 35px;height: 32px;}
.sprite.light{background-position: 0px -188px;background-size: 30px;width: 35px;height: 31px;}
.sprite.multimedia{background-position: 0 -359px;background-size: 50px;width: 50px;height: 55px}
.sprite.pen{background-position: 0 -414px;background-size: 50px;width: 47px;height: 55px;}
.sprite.people{background-position: 0 -468px;background-size: 50px;width: 47px;height: 55px;}
.sprite.technology{background-position: 0 -5250px;}
.sprite.logo-topo{background-position: 0 -5772px; width: 203px; height: 103px;}
.sprite.logo-rodape{background-position: 0 -5885px; width: 305px; height: 184px;}

/*Helpers*/
.semantic {
    position: absolute;
    top: -2000px;
}

/*Font*/
@font-face {
    font-family: gotham;
    src: url('../font/gotham-book.ttf');
}

body {
    font-family: gotham;
}

/*Header*/
header {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    background-color: #FFF;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    width: 100%;
    max-height: 223px;
    z-index: 999;
}

header .logo-topo {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    -webkit-transition: scale(1);
    -o-transition: scale(1);
    transition: scale(1);
    margin-bottom: 0;
}

header .social-media-container {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    margin-top: 0;
}

.social-medias {
    text-align: right;
}

.social-medias ul li {
    display: inline-block;
}

.main-menu {
    margin-top: 45px;
}

.main-menu ul {
    padding: 0;
    display: inline;
    position: relative;
    list-style: none;
}

.menu-item {
    display: inline-block;
    padding: 0 10px;
    border-right: 2px solid #000;
    vertical-align: middle;
}

.menu-item:last-child {
    border: 0;
}

.menu-item a {
    color: #000;
    font-size: 1.3em;
    text-decoration: none;
}

/*Header Toggle*/
header.header-toggle {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    max-height: auto;
    padding: 0;
}

header.header-toggle .logo-topo {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: scale(.4);
    -ms-transform: scale(.4);
    -o-transform: scale(.4);
    transform: scale(.4);
    margin-bottom: -15px;
}

header.header-toggle .social-media-container {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    margin-top: -70px;
}

/*Galery*/
.galery {
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
}

.galery .img-item {
    width: 100%;
    height: auto;
}

.galery .img-slogan {
    position: absolute;
    margin: 0 auto;
    max-width: 80%;
}

.cycle-slideshow { width: 100%; height: 400px; margin: auto; border: 1px solid #bbb; background: #ffc }
.cycle-slideshow img { opacity: 0; filter:alpha(opacity=0); }

/*Content*/
.content {
    padding-top: 223px;
}

.content p {
    font-size: 1.3em;
    text-align: justify;
}

.content-item {
    width: 100%;
    position: relative;
    padding: 40px 0 45px 0;
}

.content-item:nth-child(even) {
    background-color: #000;
    color: #FFF;
}

.content-item h1 {
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 1.9em;
}

.clear-content-item {
    padding: 0;
}

.linked {
    z-index: -1;
    position: absolute;
    top: -64px;
}

.title-icon {
    float: left;
}

.title-icon.position1 {
    margin-top: -20px;
    margin-right: -10px;
}

.title-icon.position2, .title-icon.position3 {
    margin-top: -5px;
}

.title-icon.position3 {
    margin-right: 10px;
}

/*Card Show*/
.card-show {
    text-align: center;
}

.card-show .sprite{
    margin: 35px auto 10px;
}

.card-show h1 {
    font-size: 1.1em;
    margin: 0;
}

.card-show h2 {
    margin: 0;
    text-align: center;
    font-size: .9em;
}

/*Cases*/
.cases {
    text-align: center;
}

.img-cases {
    margin: 0;
    padding: 0;
    display: inline;
}

.img-cases img {
    width: 250px;
    height: auto;
}

@media (max-width: 768px) {
    .img-cases img {
        width: 100%;
    }
}

/*Footer*/

footer {
    border-top: 7px solid #000;
    height: 160px;
}